* { box-sizing: border-box; }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.galerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.carte-projet {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
@media (max-width: 768px) {
    .galerie {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 480px) {
    .galerie {
        grid-template-columns: 1fr;
    }
}
body { max-width: 900px; margin: 0 auto; padding: 20px; }
section { margin-bottom: 40px; }
input, textarea { width: 100%; padding: 8px; margin-bottom: 12px; }
button {
     padding: 10px;
     border: none;
     background-color: steelblue;
     border-radius: 6px;
     color: white;

}